* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 3em;
	border-bottom: 2px solid plum;
	border-right: 2px solid plum;
	box-shadow: 4px 4px 5px grey;
	width: 400px;
	text-align: center;
	margin-top: 10px;
}

img {
	width: 452px;
	height: 300px;
	margin: 10px;
	transition: all 0.7s;
}

img:hover {
	transform: scale(1.07);
}
